html {
    scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", sans-serif;
  color: black;
  background-color: #E6E6F3;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #56569C;
  color: white;
  padding: 20px;
  text-align: center;
}


header h1 {
  margin: 0;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; 
}


main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

main.container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.card {
    margin-bottom: 0;
}

img {
    margin: 0;
    padding: 0;
    display: block;
}

p {
  font-size: 1.1em;
}


a {
  color: #56569C;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

img {
  border: 10px solid #56569C;
  border-radius: 10px;
}

main a[href^="mailto:"] {
  color: #ff5722;
  font-weight: bold;
}

.hero {
    background: url('https://source.unsplash.com/1600x900/?nature,water') center/cover no-repeat;
    height: 60vh;
    margin: 0;
    padding: 0;
}

